extends layout

block styles
 link(rel='stylesheet',href='/stylesheets/index.css')

block content
 div(id="lobbyHeader")
  h1 Play UNO Online
   if username
    h2 Welcome #{username} 
  button#Play Play

block footer
  script(src="/javascripts/home.js") 
    

