doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    script(src="/socket.io/socket.io.js")
  body
    block content

    script(src="/javascripts/setup.js")
    block footer