
nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      div.container-fluid
        a.navbar-brand(href="/" type="button") uno
        ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="/auth/login", type="button") Login
            li.nav-item
              a.nav-link(href="/auth/signup", type="button") Register
            //-li.nav-item
            //-  a.nav-link(href="/", type="button") Home
            li.nav-item
              a.nav-link(href="/lobby", type="button") Lobby (authenticated)
