extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/chat.css')
  link(rel='stylesheet',href='/stylesheets/lobby.css')

block content
  h1 Lobby 
  if username
    div(id="lobbyHeader")
      h2 Welcome #{username} 

  #games-list(style="float: right")
    h2 Joinable Games
    table
      each game in games.joinable
        tr
          div(id="join-title")
            td= game.title
            td
              form(action=`/games/${game.id}/join` method="post" target="_blank")
                button Join game

  h2 Active Games
  ul
    each game in games.active
      li
        a(href=`/games/${game.id}` target="_blank")= game.title
  
  form(action="/games/create" method="post")
    div(id="game-form-container")
      h2 New Game
      div(id="input-label")
        label(for="title") Title (optional):
        input#title(type="text" name="title")
      button#create-game Create a new game

  template#message
    span.sender
    span.content
    span.timestamp
    br

  #chat(style="float: right")
    .my-col(id="GlobalChat")
      .my-card
        .my-card-body
          .my-chatroom-title-container
            .my-chatroom-title Global Chat
          .my-chatbox
            .my-chat-message-container
              .my-chat-message-user user1
              .my-chat-message-time time1
              .my-chat-message-text(id="text1") text1
    #messages
    #send
      .my-messagebox
        .input-group
          input(type="text" id="message-field").my-form-control

block footer
  script(src="/javascripts/chat.js")
  script(src="/javascripts/game-management.js")

