extends layout

block content

  h1 Welcome To Game Page

  div
    label Enter Game Code 
    input(type="name" name="gamecode")
    button(type="submit") Join Game

    br

    div 
        span OR

    br
  div
    button(herf='#') Create Game 

