.navbar
      .navbar-logo
        a(href="/") Home
      .navbar-grow
      |     
      .navbar-menu
        a(class="navbar-menu-item" href='/login') Login
        a(class="navbar-menu-item" href='/signup') Sign up
        a(class="navbar-menu-item" href="/lobby") Lobby (authenticated) 