doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul 
      li 
        a(href="/home") Home (Unauthenticated Page)
      li
        a(href="/lobbby") Lobby
      li
        a(href="/game/42") Game Page  
      
block content
