extends layout

block content
    // Import game_room.css
    head 
        title= title 
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/game_room.css')
        link(rel='stylesheet', href='/stylesheets/table.css')
        link(rel='stylesheet', href='/stylesheets/card.css')
        link(rel='stylesheet', href='/stylesheets/cardSize.css')

        //- This input value is used by various scripts.
        input(type="hidden", id="roomId", name="roomId" value=gameId)
        input(type="hidden", id="userId", name="userId" value=userid)

        .container-fluid.d-flex.flex-column.h-100
            .row.flex-fill.d-flex.flex-row
              .game-container.col(id="parent")
                .row.p-5(id="parent")
                  //- Lobby Status Section
                  .col-sm-12.col-md-9(id="parent")
                    .card.bg-dark.text-white(id="parent")
                      .card-body(id="lobby")
                        .center
                          .pile
                            
                          .last-played
                          
                          .game-state
                            .state waiting for players 
                            .currentColor
                              .text Current Color
                              .div(id = "color")
                        .player1 
                          .player-cards(id="player1-cards")
                          .player-icon(id="player-icon")
                            .spinner-border(id="loading")
                        .player2
                          .player-cards(id="player2-cards")
                          .player-icon(id="player-icon")
                            .spinner-border(id="loading")
                        .player3
                          .player-cards(id="player3-cards")
                          .player-icon(id="player-icon")
                            .spinner-border(id="loading")
                        .player4
                          .player-icon(id="player-icon")
                          .player-cards(id="player4-cards")

                  //- Game Chat Section
            .col-sm-12.col-md-3(id="chatroom")
                    .card.bg-dark.text-white 
                      .card-body
                        .chatroom-title-container 
                            h4.card-title Game Chat
                        .chatbox
                            //- Messages will be appended here.
                        .messagebox
                          form
                            .input-group
                              input(id="userInput" type="text").form-control
                              button.btn.bg-success(id="chatbox-btn" type="submit")
                                i.fa.fa-paper-plane      