extends ..\layout

block content

.card 
  //- card is 172px weigh and 260px high
  //- use class to choose card type, then use id to control card position
  //- card name 'xy',
  //- x is color of card R(ed) B(lue) Y(ellow) G(reen) D(ark)
  //- y is the number on card: 0-9,or 10(skip) 11(switch) 12(+2)
  //- for dark card: 1(+4) 2(change color)
  img(class="card-D1" id="card1" src="images/cards.png" alt="card")
  img(class="card-D1" id="card2" src="images/cards.png" alt="card")
  img(class="card-D1" id="card3" src="images/cards.png" alt="card")
  img(class="card-D1" id="card4" src="images/cards.png" alt="card")