extends ..\layout

block content

    head 
        title= title 

    .maindiv
        .main-title Dashboard 
    
    .button-container
            .button-container-buttons(id="createGame")
                .create-game-btn.btn.bg-success(id="new-game-btn") Create Game 
            .button-container-buttons(id="joinGame")
                .join-game-btn.btn.bg-success(id="new-game-btn") Join Game 
            .button-container-buttons(id="enterGameId")
                input(id="roomId", name="roomId" value="lobby")

    .col-sm-12.col-md-3(id="GlobalChat")
                .card.bg-dark.text-white 
                    .card-body
                        .chatroom-title-container
                            .chatroom-title Global Chat
                        .chatbox
                            
                        .messagebox
                          form
                            .input-group
                                input(id="userInput" type="text").form-control
                                button.btn.bg-success(id="chatbox-btn" type="submit")
                                    i.fa.fa-paper-plane
    
        
            


